.ItemComponentHeader {
	display: flex; 
	align-items: center;
}

.deleteButton {
	margin-left: auto
}

.pill {
	min-width: 30px;
}

.numerator {
	display: flex;
	align-items: center; 
	justify-content: flex-end;
}

.itemDescription {
	padding:4px 16px;
	background-color: #ffffee
}